<section class="edit-password text-center">

    <h1 class="pt-5">Change Password</h1>


    <form
        editPassword
        [formGroup]="editPasswordForm"
        (ngSubmit)="edit()"
    >
        <div class="alert alert-danger m-3" role="alert" *ngIf="hasError" id="alertDiv">
            Please enter valid data! Password must be atleast 4 characters long!
        </div>
        <div class="col-12 py-3">
            <label for="oldPassword">Enter Old</label>
        </div>
        <div class="col-12">
            <input type="password" 
            name="oldPassword" 
            formControlName="oldPassword" id="oldPassword">
        </div>

        <div class="col-12 py-3">
            <label for="newPassword">Enter New</label>
        </div>
        <div class="col-12">
            <input type="password" 
            name="newPassword" 
            formControlName="newPassword" id="newPassword">
        </div>

        <div class="col-12 py-3">
            <label for="repeatNewPassword">Repeat New</label>
        </div>
        <div class="col-12">
            <input type="password"
            name="repeatNewPassword" 
            formControlName="repeatNewPassword" id="repeatNewPassword">
        </div>

        <div class="container">
            <div class="row text-center py-5">
                <div class="col-md-6 col-12">
                    <button type="submit" class="reesen-button confirmation-button">Accept</button>
                </div>
                <div class="col-md-6 col-12">
                    <button type="button" 
                    class="reesen-button cancel-button" 
                    [routerLink]="['/driverProfile']">Cancel</button>
                </div>
                <div class="col-3">

                </div>

            </div>
        </div>

    </form>

</section>
