<section style="background-color: white; border: 4px solid #578979; width: 80%; margin: 10px auto;" >
    <div class="container pt-5">
  
        <div class="row">
            <div class="col-4 mx-5">
                <h1 class="reesen-green-text-color text-bold">How was<br>your ride?</h1>
            </div>
        </div>
      <div class="row p-5">

            <div class="col-12 rating p-3">
                    <form
                    editProfile
                [formGroup]="reviewForm"
                (ngSubmit)="leaveReview()"
                    >
                        <div class="row text-center my-3">
                            <div class="col-12">
                                <div class="alert alert-danger m-3 text-size-big" role="alert" *ngIf="hasError" id="alertDiv">
                                    Please fulfil both fields!
                                </div>
                            </div>
                            <div class="col-12">
                                <h2 class="reesen-green-text-color">
                                    Driver Rating
                                </h2>
                            </div>
                            <div class="col-12 text-center rating-bar">
                                
                                <bar-rating [(rate)]="rateDriver" formControlName="driverRating" [max]="5" class="rating-bar">
                                    <ng-template ratingActive>
                                      <i class="bi bi-star-fill star-size" style="margin: 2px; color: #edb867"></i>
                                    </ng-template>
                                    <ng-template ratingInactive>
                                      <i class="bi bi-star-fill star-size" style="margin: 2px; color: #d2d2d2"></i>
                                    </ng-template>
                                  </bar-rating>
                            </div>
                            <div class="col-12">
                                <input type="text" name="driverComment" id="driverComment" 
                                formControlName="driverComment"
                                placeholder="Driver comment"
                               > 
                            </div>
                        </div>

                        <div class="row text-center my-3">
                            <div class="col-12">
                                <h2 class="reesen-green-text-color">
                                   Vehicle Rating
                                </h2>
                            </div>
                            <div class="col-12 text-center rating-bar">
                                <bar-rating [(rate)]="rateVehicle" [max]="5" formControlName="vehicleRating" class="rating-bar"> 
                                    <ng-template ratingActive>
                                      <i class="bi bi-star-fill star-size" style="margin: 2px; color: #edb867"></i>
                                    </ng-template>
                                    <ng-template ratingInactive>
                                      <i class="bi bi-star-fill star-size" style="margin: 2px; color: #d2d2d2"></i>
                                    </ng-template>
                                  </bar-rating>
                            </div>
                            <div class="col-12">
                                <input type="text" name="vehicleComment" id="vehicleComment" 
                                formControlName="vehicleComment"
                                placeholder="Vehicle comment"
                               > 
                            </div>
                        </div>
                
                        <div class="row mx-5 mt-5">
                            <div class="col-2">

                            </div>
                            <div class="col-4 text-center">
                                <button type="submit" id="save" class="reesen-button confirmation-button">
                                    SUBMIT RATING
                                </button>
                            </div>
                            <div class="col-4 text-center">
                                <button id="cancel" class="reesen-button cancel-button" (click)="goHome()">
                                    RATE LATER
                                </button>
                            </div>
                            <div class="col-2">

                            </div>
                         </div>
                    </form>
            </div>
      </div>
    </div>
  </section>

