<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div id="full_screen">
<div class="row pt-4 pb-1" style="background-color: rgba(241, 255, 224, 1);">
  <div class="col-3">
    <a href="#"><img class="logo" src="assets/img/logo.png"></a>
  </div>
  <div class="col-6 text-center  nav-items">
    <span class="m-3 hover-underline-animation"><a [routerLink]="['/']">Home</a></span>
    <span class="m-3 hover-underline-animation"><a [routerLink]="['/driverProfile']">Profile</a></span>
    <span class="m-3 hover-underline-animation"><a [routerLink]="['/']">Contact</a></span>
  </div>
  <div class="col-3 text-end nav-items" id="left">
    <span class="text-right m-3 hover-underline-animation"><a [routerLink]="['/login']">Log In</a></span>
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" [routerLink]="['/register']">
    Sign up
    </button>
  </div>
</div>
</div>

<div id="responsive">
  <div class="row pt-4 pb-1" style="background-color: rgba(241, 255, 224, 1);">
    <div class="col-8">
      <button class="btn" (click)="showSideBar()" *ngIf="!isShown" ><i class="fa fa-bars"></i></button>
      <button class="btn" (click)="showSideBar()" *ngIf="isShown"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    <div class="col-4">
      <img class="logo" src="assets/img/logo.png">
    </div>
  </div>
</div>

<div class="w3-sidebar w3-bar-block w3-border-right" id="nav-response" *ngIf="isShown">
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Home</a>
  <a [routerLink]="['/driverProfile']" class="w3-bar-item w3-button">Profile</a>
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Contact</a>
  <button class="btn btn-primary" id="login-btn" [routerLink]="['/login']">Log In</button>
  <button class="btn btn-primary" id="signup-btn" [routerLink]="['/register']">Sign Up</button>
</div>
