<div id="full-screen">
<span class="m-3 hover-underline-animation"><a [routerLink]="['/']">Home</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['']">Profiles</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['/rideHistory']">Ride history</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['']">Reports</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['']">Chat</a></span>
</div>

<div id="response">
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Home</a>
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Profiles</a>
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Ride History</a>
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Reports</a>
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Chat</a>
  <button class="btn btn-primary" id="signup-btn" [routerLink]="['/login']">Log out</button>
</div>

