body {
    background-color: #578979
}

.profile-section{
    margin-left: 150px;
    justify-content: center;
    text-align: center;
}

.menu{
    margin: 20px;
    align-content: center;
    background-color: white;
    box-shadow: 3px 5px 5px rgb(0, 0, 0);
    border-radius: 15px;
    padding-right: 11px;
}

.profile{
    margin: 20px;
    background-color: white;
    align-content: center;
    box-shadow: 3px 5px 5px rgb(0, 0, 0);
    border-radius: 15px;
    padding-right: 11px;
}

.profile-picture{
    width: 120px;
    margin-top: 30px;
}

.log-out{
    color:white;
    margin-top: 20px;
    background-color: rgb(179, 179, 179); 
    padding:6px 26px;
    border-radius: 8px;
    border: 1px transparent;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
    font-style: italic;
    font-style: oblique;
}

.menu-img{
    width: 30px;
    margin: 10px;
}

.menu-grid{
    margin-top: 90px;
    margin-bottom: 70px;
    justify-content: center;
    text-align: left;
}

.menu-txt{
    color: #578979;
    margin-top: 12px;
    font-weight: 600;
}

.btn{
    color:white;
    margin-top: 7px;
    background-color:#48786d; 
    padding:6px 26px;
    border-radius: 8px;
    border: 1px transparent;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}

.info-txt{
    color: #578979;
    margin-top: 12px;
    font-weight: 600;
    margin: 20px;
}

h1{
    color: #578979;
    font-weight: 600;
}

hr{
    color: #578979;
    border-top: 5px;
    border: #578979;
}