<body>
    <section class="profile-section">
        <div class="row">
            <div class="col-3 menu">
              <img src="assets/img/avatar.png" class="profile-picture">
              <h1>Marko Markovic</h1>
              <button class="log-out">Log Out</button>
              <div class="row menu-grid">
                <div class="col-md-auto"><img src="assets/img/inbox.png" class="menu-img"></div>
                <div class="col-6 menu-txt"><p>Inbox</p></div>
                <div class="w-100"></div>
                <div class="col-md-auto"><img src="assets/img/heart.png" class="menu-img"></div>
                <div class="col-6 menu-txt"><p>Favorite routes</p></div>
                <div class="w-100"></div>
                <div class="col-md-auto"><img src="assets/img/history.png" class="menu-img"></div>
                <div class="col-6 menu-txt"><p>Ride history</p></div>
                <div class="w-100"></div>
                <div class="col-md-auto"><img src="assets/img/report.png" class="menu-img"></div>
                <div class="col-6 menu-txt"><p>Report</p></div>
              </div>
            </div>
            <div class="col-md-auto" >
                <br>
            </div>
            <div class="col-7 profile">
                <h1>My Account</h1>
                <div class="row">
                    <div class="col">
                    <hr>
                    </div>
                    <div class="col menu-txt">
                    Basic info
                    </div>
                    <div class="col">
                    <hr>
                    </div>
              </div>
              <div class="row">
                <div class="col info-txt">
                    Phone number:
                </div>
                <div class="col info-txt">
                    +381034551
                </div>
              </div>
              <div class="row">
                <div class="col info-txt">
                    Email address:
                </div>
                <div class="col info-txt">
                    nfikdsa@jndskda.com
                </div>
              </div>
              <div class="row">
                <div class="col info-txt">
                    Home address:
                </div>
                <div class="col info-txt">
                    NDBJIab asmopdada 
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <button class="btn">Edit basic info</button>
                </div>
                <div class="col">
                    <button class="btn">Change password</button>
                </div>
              </div>
            </div>
          </div>
    </section>
</body>