<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <span><img src="assets/img/standard.png" class="history_icon"></span>
        <span id="rideText">Svetosavska 86 Kikinda - Atarska 7 Sombor</span>
        <br/>
      </mat-card-title>
      <mat-card-subtitle>
        <span><img src="assets/img/baby_transport.png" class="history_icon"></span>
        <span id="timing">26.10.2022. 12:34 - 26.10.2022. 15:00</span>
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
      <span class="d-flex justify-content-between align-items-center" id="ratingBar">
        <div class="ratings">
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star rating-color"></i>
          <i class="fa fa-star"></i>
        </div>
      </span>


  </mat-card-content>
</mat-card>

