<section class="edit-driver text-center round-edges p-5">
    <form
        edit
        [formGroup]="editForm"
        (ngSubmit)="edit()"
    >
        <div class="row text-center" >
            <div class="col-3 text-center mt-5">
                <div class="row mt-5">
                    <div class="col-12">
                        <img src="../../../assets/img/avatar.png" alt="avatar" class="rounded-circle img-avatar">

                    </div>
                    <div class="col-12 pt-4 mt-3">
                        <button class="confirmation-button reesen-button" type="button">Edit Avatar</button>
                    </div>

                </div>
            </div>
            <div class="col-9 bg-white round-edges py-5">
                <div class="alert alert-warning" role="alert" *ngIf="hasError" id="alertDiv">
                    Please enter valid data!
                  </div>
                <h1>Account</h1>
                <h3>-----------------------------  Basic information  ----------------------------</h3>

                <div class="row text-center pt-4">
                    <div class="col-6">
                        <label for="driverEditName">Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" 
                        formControlName="name" 
                        name="name" 
                        id="driverEditName"
                        [(ngModel)]="driver.name">

                    </div>
                </div>

                <div class="row text-center pt-4">
                    <div class="col-6">
                        <label for="driverEditSurname">Surname</label>
                    </div>
                    <div class="col-4">
                        <input type="text" 
                        formControlName="surname" 
                        name="surname" 
                        id="driverEditSurname"
                        [(ngModel)]="driver.surname">

                    </div>
                </div>
                <div class="row text-center pt-4">
                    <div class="col-6">
                        <label for="driverEditPhoneNumber">Phone Number</label>
                    </div>
                    <div class="col-4">
                        <input type="text" 
                        formControlName="phoneNumber" 
                        name="phoneNumber" 
                        id="driverEditPhoneNumber"
                        [(ngModel)]="driver.telephoneNumber">

                    </div>
                </div>
                <div class="row text-center pt-4">
                    <div class="col-6">
                        <label for="driverEditEmail">Email Address</label>
                    </div>
                    <div class="col-4">
                        <input type="text" 
                        formControlName="email" 
                        name="email" 
                        id="driverEditEmail" 
                        [(ngModel)]="driver.email">

                    </div>
                </div>

                <div class="row text-center py-4">
                    <div class="col-6">
                        <label for="driverEditAddress">Address</label>
                    </div>
                    <div class="col-4">
                        <input type="text" 
                        formControlName="address" 
                        name="address" 
                        id="driverEditAddress"
                         [(ngModel)]="driver.address">

                    </div>
                </div>

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-8"></div>
            <div class="col-2">
                <button type="submit" class="confirmation-button reesen-button" >accept</button>
            </div>
            <div class="col-2">
                <button
                class="cancel-button reesen-button" 
                [routerLink]="['/driverProfile']" type="button">cancel</button>
            </div>
        </div>
    </form>
</section>
