.edit-password{
    width: 40%;
    margin: 20px auto;
    background-color: #578979;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border: 2px solid #578979;
    border-radius: 6px;
}

.reesen-button{
    border-radius: 6px;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 16px;
    text-transform: uppercase;
}
.confirmation-button{
    background-color: white;
    border: 2px solid #578979;
    color: #578979;

}
.cancel-button{
    background-color: red;
    color: white;

}

.cancel-button:hover{
    color: rgb(211, 214, 244);
}

.confirmation-button:hover{
    color: #3d5b51;
}