<div class="container">
    <div class="row text-center">
        <img src="../../../assets/img/mail.PNG" alt="Activation illustration" class="text-center img">
        <h1 class="text-center lbl">Email verified!</h1>
        <p class="text-center lbl">Congratulations, you have succedfully activated your account.</p>
        <form>
            <label for="code" class="lbl">Explore our site and order a ride!</label><br>
            <button type ="submit" class="btn" onclick="goToLogin()">Log In</button>
        </form>
    </div>
  </div>
  