<div id="full-screen">
<span class="m-3 hover-underline-animation"><a [routerLink]="['/']">Home</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['/users']">Users</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['/registerDriver']">Register Driver</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['/admin-reports']">Reports</a></span>
<span class="m-3 hover-underline-animation"><a [routerLink]="['/panic']">Panic</a></span>


</div>

<div id="response">
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Home</a>
  <a [routerLink]="['/users']" class="w3-bar-item w3-button">Users</a>
  <a [routerLink]="['/registerDriver']" class="w3-bar-item w3-button">Register Driver</a>
  <a [routerLink]="['/admin-reports']" class="w3-bar-item w3-button">Reports</a>
  <a [routerLink]="['/panic']" class="w3-bar-item w3-button">Panic</a>

  <button class="btn btn-primary" id="signup-btn" (click)="logout()">Log out</button>
</div>

