
<h2 align="center">Current ride</h2>

<app-map [isOnlyMap]="isOnlyMap"></app-map>


<div  class="overlay" *ngIf="isCardLoaded">
  <div class="row first">
    <div class="col-md-2 stop-watch">
      <div class="stop-watch">
        <div class="display">{{format(mm)}}:{{format(ss)}}:{{format(ms)}}</div>
      </div>
    </div>
    <div class="col-md-10"></div>
  </div>

  <div class="row" *ngIf = "!isRideStarted">
    <div class="col-md-12" align="right">
      <button class="startRidebtn" (click)="startRide()">START RIDE</button>
    </div>
  </div>

  <div class="row" *ngIf = "role === 'DRIVER'">
    <div class="col-md-6" align="right">
    <button class="startRidebtn" (click)="finishRide()">FINISH RIDE</button>
    </div>
    <div class="col-md-6" align="left">
      <button class="startRidebtn" (click)="clickHandler()">STOP</button></div>
  </div>

  <br/>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5" align="center">
    <app-driver-card-history [date]="ride" [setFinished]="false" id="card"></app-driver-card-history>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <img src="assets/img/panic_girl.png">
    </div>

    <div class="col-md-2" align="center" *ngIf="isRideStarted">
      <p>Something wrong? Please contact us!</p>
      <button class="panicBtn">PANIC</button>

        <div *ngIf="role === 'PASSENGER'">
            <br/>
            <button (click)="changeHandler(!isNotePressed)">{{isNotePressed ? "CANCEL" : "ADD NOTE"}}</button>
            <form>
              <div class="form-group" *ngIf="isNotePressed">
                <label for="inputNote"></label>
                <input type="text" class="form-control" id="inputNote" aria-describedby="emailHelp" placeholder="What's wrong ?">
                <small id="emailHelp" class="form-text text-muted">We'll do our best to solve the problem as soon as possible</small>
                <br/>
                <button type="submit" (click)="sendNote()">Send</button>
              </div>
            </form>
        </div>


    </div>
    <div class="col-md-1"></div>
  </div>


</div>
