body, html{
    margin: 0;
    padding: 0;
}

.reesen-green-background{
    background-color: #578979;
}
.reesen-footer-bottom-background{
    background-color: #4B7869;
}

.reesen-green-text-color{
    color: #578979;
}

.reesen-big-lead-text{
    font-size: 38px;
    font-weight: bold;
}

