<div id="full-screen">
  <span class="m-3 hover-underline-animation"><a [routerLink]="['/']">Home</a></span>
  <span class="m-3 hover-underline-animation"><a [routerLink]="['/driverProfile']">Profile</a></span>
  <span class="m-3 hover-underline-animation"><a [routerLink]="['/driverRideHistory']">Ride history</a></span>
  <span class="m-3 hover-underline-animation"><a [routerLink]="['/driver-reports']">Reports</a></span>
  <span class="m-3 hover-underline-animation" *ngIf="activeRide"><a [routerLink]="['/currentRide']" class="custom-text-ride-color">Current ride</a></span>
  <mat-slide-toggle checked="true" id="matslide" color='warn' (click)="changeStatus()" >Active</mat-slide-toggle>
</div>

<div id="response">
  <a [routerLink]="['/']"  (click)="changeSideBarActivity()" class="w3-bar-item w3-button">Home</a>
  <a [routerLink]="['/driverProfile']"  (click)="changeSideBarActivity()" class="w3-bar-item w3-button" >Profile</a>
  <a [routerLink]="['/']" (click)="changeSideBarActivity()" class="w3-bar-item w3-button">Contact</a>
  <a [routerLink]="['/driverRideHistory']"  (click)="changeSideBarActivity()" class="w3-bar-item w3-button">Ride History</a>
  <button class="btn btn-primary" id="login-btn" (click)="logout()">Log out</button>
</div>
