 #content {
   margin-left: +4px;
  padding: 5px;
  color: #314a42;
  font-weight: bold;
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#mySidebar {
  position: fixed;
  background-color: rgba(241, 255, 224, 1);
  width: 300px;
  z-index: 500;
}

 button {
  display: block;
   background-color: rgba(241, 255, 224, 1);
}

 .btn {
   background-color: rgba(241, 255, 224, 1);
   border: none;
   color:  rgba(81, 116, 112, 1);
   margin-top: -10px;
   font-size: 30px;
   cursor: pointer;
 }

.example-sidenav {
  padding: 20px;
}
td {
  padding: 6px;

}
 table {
   border-spacing: 10px;
 }

.input_price {
  width: 100px;
}
