
<div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar">
  <button class="btn" (click)="changeState()"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div id="content">
<!--    <p class="w3-bar-item w3-button" (click)="setSortFilter('name,asc')">Sort by name in ascending order</p>-->
<!--    <p class="w3-bar-item w3-button" (click)="setSortFilter('name,asc')">Sort by name in descending order</p>-->
    <p class="w3-bar-item w3-button" (click)="setSortFilter('totalPrice,asc')">Sort by price in ascending order</p>
    <p class="w3-bar-item w3-button" (click)="setSortFilter('totalPrice,desc')">Sort by price in descending order</p>
    <p class="w3-bar-item w3-button" (click)="setSortFilter('timeOfStart,asc')">Sort by date in ascending order</p>
    <p class="w3-bar-item w3-button" (click)="setSortFilter('timeOfStart,desc')">Sort by date in descending order</p>
  </div>

</div>
