<footer class="about reesen-green-background">
<div class="container p-4">
    <h1 class="text-center text-light">About Us</h1>

    <div class="row text-center">
        <div class="col-md text-light p-3">
            <div class="row row-md">
                <div class="col p-2">
                    <span><i class="bi bi-telephone p-2"></i>Support</span>
                </div>
                <div class="col">
                    <span>+381512521</span>
                </div>
            </div>

            <div class="row row-md">
                <div class="col  p-2">
                    <span><i class="bi bi-envelope p-2"></i>Our Mail</span>
                </div>
                <div class="col">
                    <span>nekimail@gmail.com</span>
                </div>
            </div>

            <div class="row row-md">
                <div class="col  p-2">
                    <span><i class="bi bi-geo-alt p-2"></i>Headquarters</span>
                </div>
                <div class="col">
                    <span>Rajfazenova 12, Novi Sad, Serbia</span>
                </div>
            </div>
        </div>
        <div class="col-md text-light p-3">
            <div class="col p-2">
                Get it on Google Play
            </div>
            <div class="col p-2">
                Download on the App Store
            </div>
        </div>
    </div>
    
</div>
<section class="reesen-footer-bottom-background py-4 text-white">
    <div class="row">
        <div class="col-sm text-center">
            <p class="lead text-white text-lg-left">Copyright &copy; 2022 Reesen Team 3</p>
        </div>
        <div class="col-sm">
            <div class="row text-center">
                <div class="col-sm">Privacy</div>
                <div class="col-sm">Accesibility</div>
                

                <div class="col-sm">Terms</div>
            </div>
        </div>
    </div>
</section>
</footer>
