<footer class="about reesen-green-background">
    <h1 class="text-center text-light p-4">About Us</h1>

    <div class="container pb-4">
        
        <div class="row align-items-center justify-content-between mx-2 mx-sm-0">
            <div class="col-md text-light p-3  border border-dark">
                <div class="row row-md ">
                    <div class="col p-2">
                        <span><i class="bi bi-telephone p-2"></i>Support</span>
                    </div>
                    <div class="col p-2">
                        <span>+381512521</span>
                    </div>
                </div>

                <div class="row row-md">
                    <div class="col p-2">
                        <span><i class="bi bi-envelope p-2"></i>Our Mail</span>
                    </div>
                    <div class="col p-2">
                        <span>nekimail@gmail.com</span>
                    </div>
                </div>

                <div class="row row-md">
                    <div class="col p-2">
                        <span><i class="bi bi-geo-alt p-2"></i>Headquarters</span>
                    </div>
                    <div class="col p-2">
                        <span>Rajfazenova 12, Novi Sad, Serbia</span>
                    </div>
                </div>
            </div>

            <div class="col-md text-light p-3 outer-div">
                

                <div class="col my-3 play-store inner-div">
                    <div class="row">
                        <div class="col">
                            <img src="../../../assets/img/google.png" alt="" style="width:40px;height:40px">

                        </div>
                        <div class="col-8">
                            <p>Get it on<br> Google Play</p>
                        </div>
                    </div>

                </div>
                <div class="col my-3 play-store inner-div">
                    <div class="row">
                        <div class="col">
                            <img src="../../../assets/img/apple.png" alt="" style="width:40px;height:40px">

                        </div>
                        <div class="col-8">
                            <p>Download on<br> the App Store</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        
    </div>
<section class="reesen-footer-bottom-background pt-4 pb-2 text-white">
    <div class="row">
        <div class="col text-center">
            <p class="lead text-white text-center text-md-start px-3">&copy; 2022 Reesen</p>
        </div>
        <div class="col">
            <div class="row text-end text-sm-center px-3 px-sm-0">
                <div class="col-sm">Privacy</div>
                <div class="col-sm">Accesibility</div>
                <div class="col-sm">Terms</div>
            </div>
        </div>
    </div>
</section>
</footer>
