
.example-card {
  background-color: white;
  border-radius: 10px;
  max-width: 550px;
  margin-bottom: 8px;
}

.history_icon {
  width: 30px;
  height: 30px;
  margin-right: +5px;
}

.rideText  {
  font-weight: 600;
  font-style: italic;
}

#timing {
  color: black;
  font-size: small;
  font-style: italic;
}

.vehicle_img {
  width: 40px;
  height: 40px;
  margin-right: +10px;
}

.transport_img {
  width: 40px;
  height: 40px;
}

td {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: italic;
  padding: 5px;

}

.example-card:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(24, 24, 24, 0.7);
  color: white;
  transition: .5s;
}

.ratingBar {
  display: block !important;
  width: 215px !important;
  text-align: right !important;
  margin-right: 0;
  margin-left: auto;
}

/*#rating_td {*/
/*  width: 200px !important;*/
/*  text-align: right;*/
/*}*/

ratings{
  margin-right:10px;

}

.ratings i{

  color:#cecece;
  font-size:32px;
}

.rating-color{
  color:#fbc634 !important;
}

.review-count{
  font-weight:400;
  margin-bottom:2px;
  font-size:24px !important;
}

.small-ratings i{
  color:#cecece;
}

.review-stat{
  font-weight:300;
  font-size:18px;
  margin-bottom:2px;
}


