<section style="background-color: #4B7869;" class="m-5" *ngIf="hasLoaded">
    <div class="container py-5">

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img [src]="user.profilePicture" *ngIf="user.profilePicture !== 'profilna'" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <div class="text-center my-5 red-text" *ngIf="user.profilePicture === 'profilna'">User doesnt have a profile picture!</div>
              <h5 class="my-3">{{user.name}} {{user.surname}}</h5>

            </div>
          </div>
          <div class="mb-3 max-width">
            <button type="button" class="custom-button" (click)="editUserProfile()" >Edit Profile</button>
          </div>
          <div class="mb-3 max-width">
            <button type="button" class="custom-button" (click)="editVehicleInfo()" *ngIf="role==='DRIVER'">Edit Vehicle</button>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="card mb-4 border-black">
            <h1 class="text-center mb-3">Basic Info</h1>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.name}} {{user.surname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.telephoneNumber}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.address}}</p>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="user.blocked">
                <div class="col-sm-3">
                  <p class="mb-0">Account status</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0 red-text">The user is blocked!</p>
                </div>
              </div>
              <div class="row" *ngIf="!user.blocked">
                <div class="col-sm-3">
                  <p class="mb-0">Account status</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0 green-text">The user is active</p>
                </div>
              </div>

            </div>
          </div>
         <div class="row d-flex flex-row-reverse">
          
          <div class="col-md-3 col-6 text-center">
            <button id="cancel" class="reesen-button cancel-button" (click)="goBack()">Go Back</button>
          </div>
          <div class="col-md-5 col-6 text-center">
            <button id="rideHistory" class="custom-button" (click)="showUserRideHistory()">Ride History</button>
        </div>
         </div>

        </div>
      </div>
    </div>
  </section>
