<section style="background-color: #4B7869;" class="m-5">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img [src]="user.profilePicture" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.name}} {{user.surname}}</h5>
              
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.name}} {{user.surname}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.telephoneNumber}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.address}}</p>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="user.blocked">
                <div class="col-sm-3">
                  <p class="mb-0">Account status</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0 red-text">The user is blocked!</p>
                </div>
              </div>
              <div class="row" *ngIf="!user.blocked">
                <div class="col-sm-3">
                  <p class="mb-0">Account status</p>
                </div>
                <div class="col-sm-9">
                  <p class="mb-0 green-text">The user is active</p>
                </div>
              </div>
              
            </div>
          </div>
         
 
        </div>
      </div>
    </div>
  </section>