<section class="register-section">
  <div class="register-container">
    <div class="row">
          <div class="col-4 spec center" id="header-logo">
            <div class="row text-center">
              <div class="col center reesen-big-lead-text join-us">
                Register<br>a Driver
              </div>
              <div class="col center">
                <img src="../../../assets/img/carlogo2.png" alt="Car Logo" class="logo-image">
              </div>
            </div>
          </div>

          <div class="col-8" id="driver-login">
            <form id="form">
              <app-driver-info-registration></app-driver-info-registration>
              <br>
              <app-driver-vehicle-registration></app-driver-vehicle-registration>
            <div class="row">
              <div class="col"></div>
              <div class="col center"><button type="submit" class="signup">Register Driver</button></div>
              <div class="col"></div>
            </div>
            </form>
          </div>
    </div>
  </div>
</section>


