.ride-info{
    width: 90%;
    margin: 20px auto;
    background-color: #578979;
    z-index: 1;
}
.ride-info-padded{
    padding: 30px;
    margin: 20px;
    color: #578979;
    background-color: white;
    border-radius: 10px;
}
.history_icon{
    width: 30px;
    height: 30px;
}

.vehicle_img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.card{
    border-radius: 10px;
    color: #578979;
    transition: .3s ease-in-out;
}
.card:hover{
    color: white;
    background-color: gray;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.items{
    margin-left: 8px;
}

.ratingBar {
    text-align: right !important;
    
    
  }
  

  .ratings i{
  
    color:#cecece;
    font-size:32px;
  }
  
  .rating-color{
    color:#fbc634 !important;
  }

  .bold-text{
    font-weight: bold;
  }

  .highlight{
    color: #2b4e42;
    margin-left: 10px;
  }

  .user-card{
    border: 2px solid #2b4e42;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .user-card-name{
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
  }



  .user-card-avatar-image{
    width: 50px;
    height: 50px;
  }

  .single-review{
    padding: 10px;
    border: 2px solid #2b4e42;
  }

  .text-big{
    font-size: 18px;
  }

  .map-container {
    width: 100%;
    height: 700px;
    margin: 10px auto 0 auto;
    z-index: 10;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
    z-index: 10;

}

#map {
    height: 100%;
    z-index: 10;

}