<div class="container">
    <div class="row text-center">
        <img src="../../../assets/img/mail.PNG" alt="Activation illustration" class="text-center img">
        <h1 class="text-center lbl">Reset password</h1>
        <form
        resetPw
        [formGroup]="resetForm"
        (ngSubmit)="resetPassword()"
        >
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" formControlName="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" formControlName="password"><br>
            <label for="password">Repeat password:</label><br>
            <input type="password" id="passwordRepeated" name="passwordRepeated" formControlName="passwordRepeated"><br>
            <label for="code">Code:</label><br>
            <input type="text" id="code" name="code" formControlName="code"><br><br>
            <button type ="submit" class="btn">Reset</button>
        </form>
    </div>
  </div>
  