.max-width{
    width: 80%;
    margin: 20px auto;
}
.edit-req-btn{
    color: #1a4d3d;
    background-color: transparent;
    border: 2px solid #1a4d3d;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    transition: .3s ease-in-out;

}
.edit-req-btn:hover{
    color: white;
    background-color: #4B7869;
}

.text-red{
    color:red;
    margin-right: 10px;
    transition: .3s ease-in-out;
}
.reesen-background{
    background-color: rgb(222, 219, 219);
}
.reesen-button{
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 16px;
    min-width: 150px;
    text-transform: uppercase;
}

.confirmation-button{
    background-color: white;
    border: 2px solid black;
    color: #578979;

}
.confirmation-button:hover{
    color: #1a4d3d;
}

@media only screen and (max-width: 800px) {
    .max-width{
        width: 100%;
        margin: 20px 0;
    }

}