
<div class="alert ride-info-popup p-3" role="alert">
    <div class="row">
      <h2 class="text-center my-3 text-dark">Ride Information:</h2>
      <div class="ride-info-info text-left">
        <div class="col-12 p-2 mx-3 text-dark">
            <strong>Start Station:</strong> {{this.acceptRide.locations[0].departure.address}}
        </div>
        <div class="col-12 p-2 mx-3 text-dark">
          <strong>End Station:</strong> {{this.acceptRide.locations[0].destination.address}}
        </div>
        <div class="col-12 p-2 mx-3 text-dark">
          <strong>Estimated Travel Time:</strong> {{this.acceptRide.estimatedTimeInMinutes}} <strong> min</strong>
        </div>
        <div class="col-12 p-2 mx-3 text-dark">
          <strong>Total Cost:</strong> {{this.acceptRide.totalCost}} <strong> (RSD)</strong>
        </div>
        <div class="col-12 p-2 mx-3 text-dark" *ngIf="acceptRide.scheduledTime !== null">
          <strong>Scheduled time:</strong> {{this.acceptRide.scheduledTime | date : 'HH:mm dd-MM-yyyy'}} <strong></strong>
        </div>
  
        <div class="col-12 p-2 mx-3 text-dark">
          <p><strong>Baby Transport:</strong> {{this.acceptRide.babyTransport}} </p>
          <p><strong>Pet Transport:</strong> {{this.acceptRide.petTransport}} </p>
        </div>
        <div class="col-12 p-2 mx-3 text-dark text-center" *ngIf="role==='PASSENGER'">
          <h2>Passengers:</h2>
          <div class="row"
          *ngFor="let pass of this.acceptRide.passengers">
          <div class="col-12">
            {{pass}}
          </div>
        </div>
        </div>
        <div class="col-12 p-2 mx-3 text-dark text-center">
          <button type="button" class="reesen-button confirmation-button" (click)="acceptRideOrder()">Accept</button>
        </div>
        <div class="col-12 p-2 mx-3 text-dark text-center">
          <button type="button" class="reesen-button cancel-button" (click)="declineRide()">Decline</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="alert ride-info-popup p-3 decline-ride" *ngIf="rideDeclined">
    <div class="row text-center">
      <div class="col-12 p-2 mx-3 text-dark text-center">
        <form
              editProfile
          [formGroup]="rejectionForm"
          (ngSubmit)="submitRideRejection()"
            >
            <div class="row">
            <div class="col-12 my-2">
              <label for="reason"><p class="mb-0">Reason:</p></label>
            </div>
            
            <div class="col-12 my-2">
              <input type="text" name="name" id="reason" 
              formControlName="reason" class="form-control-edit"> 
            </div>
          </div>
          <div class="col-12">
            <button type="submit" id="save" class="reesen-button cancel-button">
              Confirm Rejection
          </button>
          </div>
          </form>
        
      </div>
    </div>
  
  </div>