.map-container {
  width: 98%;
  height: 50vh;
  margin: 10px auto 0 auto;
  z-index: 10;
}

.map-frame {
  border: 2px solid black;
  border-bottom: 0px solid transparent;
  height: 100%;
  z-index: 10;

}

#map {
  height: 100%;
  z-index: 10;

}

.overlay{
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  z-index: 9;
  width: 98%;
  height: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, rgba(255,255,255,0.1) 10%, rgba(124,181,177,0.54) 52%, rgba(87,137,112,1) 100%, rgba(255,255,255,1) 100%);    z-index: 9;

}
