

 span a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

    color: rgba(81, 116, 112, 1);

  }


  .logout-button{
    font-size: 18px;
    color: rgba(81, 116, 112, 1);
    background-color: transparent;
    margin-right: 10px;
    padding: 0px 16px;
    text-transform: uppercase;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: 600;
    transition: .3s ease-in-out;
  }
  .logout-button:hover{
    color: rgb(254, 0, 0);
    border: 2px solid black;
    transition: .3s ease-in-out;
  }

  .btn-primary {
    background-color: rgba(81, 116, 112, 1);
    border-color:  rgba(81, 116, 112, 1);
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .logo {
    margin-top: -15px;
    margin-left: 30px;
    height: 50px;
    width: 50px;
  }

#responsive {
  display: none;
}


.nav-item a{
  font-weight: bold;
  font-size: 20px;
  color: rgba(81, 116, 112, 1);

}
  .hover-underline-animation {
    position: relative;
    color: rgba(81, 116, 112, 1);
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(81, 116, 112, 1);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #response {
    display: none;
  }

  @media only screen and (max-width: 800px){
    #full_screen {
      display: none;
    }

    #full-screen {
      display: none;
    }


    #responsive {
      display: block;
    }

    .logo {
      margin-top: -15px;
      height: 50px;
      width: 50px;
    }

    .btn {
      background-color: rgba(241, 255, 224, 1);
      border: none;
      color:  rgba(81, 116, 112, 1);
      margin-top: -10px;
      font-size: 30px;
      cursor: pointer;
    }

    #response {
      display: block;
    }


  }

  #nav-response {
    position: absolute;
    z-index: 500;
    background-color: rgba(241, 255, 224, 1);
  }

  #response a {

    font-weight: bold;
    font-size: 20px;
    color: rgba(81, 116, 112, 1);
  }

  #login-btn {
    color: rgba(81, 116, 112, 1);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -800px;
    margin-left: +50px;
  }

  #signup-btn {

    color: white;
    border: none;
    background-color:  rgba(81, 116, 112, 1);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -850px;
    margin-left: +50px;
  }

  body {
    overflow: hidden;
  }



