<section class="users-info-section" *ngIf="hasLoaded">
    <div class="container border-container">
        <div class="row table-properties">
            <div class="col-md-3">
                <div class="bs-select">
                    <label class="pr mt-5">
                        Show
                    </label>
                    
                    <label class="pr">
                        <select name="dtBasicExample_length" id="select" (change)="changeTotalUsersPerPage()"
                            class="form-select" aria-label="Select how many users to show per page" [(ngModel)]="selectedShowNumber">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>25</option>
                            <option>50</option>

                        </select> 
                        
                    </label>
                </div>
            </div>
        
            <div class="col-4 d-flex flex-row-reverse"><div>
                <label class="pr mt-5">Search</label>
                <label>
                    <input type="search" class="form-control form-control-sm" 
                    placeholder="" aria-controls="dtBasicExample" id="search" (input)="onSearchChange()" [(ngModel)]="search">
                </label>
                </div>
            </div>
            <div class="col-5 d-flex flex-row-reverse"><div>
                <button type="button" class="edit-req-btn" (click)="showDriverEditRequests()"><span class="text-red">{{totalRequests}}!</span> Driver Edit Requests</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-properties table-bordered" id="userTable">
            <thead class="thead-properties">
            <tr>
                <th scope="col" (click)="sortTable(0)" 
                data-toggle="tooltip" data-placement="top" title="Sort by ID">#</th>
                <th scope="col" (click)="sortTable(1)" 
                data-toggle="tooltip" data-placement="top" title="Sort by Name">Name</th>
                <th scope="col" (click)="sortTable(2)"
                data-toggle="tooltip" data-placement="top" title="Sort by Surname">Surname</th>
                <th scope="col" (click)="sortTable(3)"
                data-toggle="tooltip" data-placement="top" title="Sort by Telephone Number">Telephone Number</th>
                <th scope="col" (click)="sortTable(4)"
                data-toggle="tooltip" data-placement="top" title="Sort by Email">Email Address</th>
                <th scope="col" (click)="sortTable(5)"
                data-toggle="tooltip" data-placement="top" title="Sort by Address">Home Address</th>
                <th scope="col"(click)="sortTable(6)"
                data-toggle="tooltip" data-placement="top" title="Sort by Blocked" *ngIf="users[0].blocked !== null">Blocked</th>
                <th scope="col" (click)="sortTable(7)"
                data-toggle="tooltip" data-placement="top" title="Sort by Role" *ngIf="users[0].role !== null">Role</th>
            </tr>
            </thead>
            <tbody>
                <tr 
                *ngFor="
                let user of users | paginate : {
                        itemsPerPage: selectedShowNumber,
                        currentPage: page,
                        totalItems: totalEntries
                    };
                    "
                    (click)="displayUserInfo(user)"
                    data-toggle="tooltip" data-placement="top" title="Click to view my info"
                    >
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.telephoneNumber}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td *ngIf="user.blocked !== null">{{user.blocked}}</td>
                    <td *ngIf="user.blocked !== null">{{user.role}}</td>
                </tr>
                
            </tbody>

        </table>
        <div class="d-flex justify-content-center">
            <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)"
                ></pagination-controls>

        </div>
    </div>
    </div>
</section>
