<section class="text-center bold-text" *ngIf="hasLoaded">
<h2>Basic Information</h2>

<div class="row pt-5">

    <div class="col-7">Phone Number</div>
    <div class="col-3" id="phoneNumber">{{driver.telephoneNumber}}</div>
</div>

<div class="row pt-5">

    <div class="col-7">Email Address</div>
    <div class="col-3" id="emailAddress">{{driver.email}}</div>
</div>

<div class="row pt-5">

    <div class="col-7">Home Address</div>
    <div class="col-3" id="homeAddress">{{driver.address}}</div>
</div>

<div class="row pt-5">
    <div class="col-7">
        <button type="button" class="btn-edit-info" [routerLink]="['/driverEdit']">Edit Basic Information</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn-edit-info" [routerLink]="['/driverEditPassword']">Change Password</button>

    </div>
</div>
</section>

<section class="text-center bold-text pt-4">
    <h2>Vehicle</h2>
    <div class="row pt-4">

        <div class="col-6">Model</div>
        <div class="col-6">Type</div>
    </div>

    <div class="row pt-2">

        <div class="col-7 text-underline" id="vehicleModel">{{vehicle.model}}</div>
        <div class="col-3 text-underline" id="vehileType">{{vehicle.vehicleType}}</div>
    </div>

    <div class="row pt-4">

        <div class="col-6">Registration Number</div>
        <div class="col-6">Number of Seats</div>
    </div>

    <div class="row pt-2">

        <div class="col-7 text-underline" id="registrationNumber">{{vehicle.licenseNumber}}</div>
        <div class="col-3 text-underline" id="numberOfSeats">{{vehicle.passengerSeats}}</div>
    </div>
    <div class="row pt-3">
        <div class="col-6">
            <input type="checkbox" name="babyTransport" id="babyTransport" disabled="true" class="mx-3 form-check-input" [checked]="vehicle.babyTransport">
            <label for="babyTransport">Baby Transport</label>
        </div>
        <div class="col-6">
            <input type="checkbox" name="petTransport" id="petTransport" disabled="true" class="mx-3 form-check-input" [checked]="vehicle.petTransport">
            <label for="petTransport">Pet Transport</label>
        </div>
    </div>
    <div class="row text-center pt-4">
        <p><button type="button" class="btn-edit-info" id="editVehicleInformation" [routerLink]="['/driverEditVehicle']">Edit Vehicle Information</button></p>
    </div>


</section>

