<div id="full-screen">
  <span class="m-3 hover-underline-animation"><a [routerLink]="['/']">Home</a></span>
  <span class="m-3 hover-underline-animation"><a [routerLink]="['']">Contact</a></span>
  <span class="m-3 hover-underline-animation"><a [routerLink]="['']">Support</a></span>
</div>

<div id="response">
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Home</a>
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Contact</a>
  <a [routerLink]="['/']" class="w3-bar-item w3-button">Support</a>
  <button class="btn btn-primary" id="login-btn" [routerLink]="['/login']">Log In</button>
  <button class="btn btn-primary" id="signup-btn" [routerLink]="['/register']">Sign Up</button>
</div>
