<section class="edit-vehicle" *ngIf="hasLoaded">
    <div class="text-center">
        <h1>Edit Vehicle Information</h1>
    </div>

    <div class="alert alert-danger m-3" role="alert" *ngIf="hasError" id="alertDiv">
        Please enter valid data!
    </div>
    <form
        editVehicle
        [formGroup]="editVehicleForm"
        (ngSubmit)="editVehicle()"
    >
    <div class="form-group">

        <label for="model">Model</label>
        <input type="text"
        class="form-control"
        id="model"
        name="model"
        formControlName="model"
         placeholder="Audi A3"
         [(ngModel)]="vehicle.model">
    </div>

    <div class="form-group">

        <label for="type">Type</label>
        <select class="form-select"
        id="type"
        name="type"
        formControlName="type"
        [(ngModel)]="vehicle.vehicleType">
            <option>STANDARD</option>
            <option>LUXURY</option>
            <option>VAN</option>

        </select>
    </div>

    <div class="form-group">

        <label for="registration">Registration Number</label>
        <input type="text"
        class="form-control"
        id="registration"
        name="registration"
        formControlName="registration"
        placeholder="SM666CF"
        [(ngModel)]="vehicle.licenseNumber">
    </div>

    <div class="form-group">

        <label for="numberOfSeats">Number of Seats</label>
        <select class="form-select"
        id="numberOfSeats"
        name="numberOfSeats"
        formControlName="numberOfSeats"
        [(ngModel)]="vehicle.passengerSeats">
           <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>
        </select>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"
        value="" id="babyTransport"
        name="babyTransport"
        formControlName="babyTransport" [(ngModel)]="vehicle.babyTransport">

        <label class="form-check-label" for="babyTransport">
          Baby Transport
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"
        value="" id="petTransport"
        name="petTransport"
        formControlName="petTransport" [(ngModel)]="vehicle.petTransport">

        <label class="form-check-label" for="petTransport">
          Pet Transport
        </label>
    </div>

    <div class="d-flex flex-row-reverse">
        <button class="accept-button my-button" type="submit">ACCEPT</button>
        <button class="cancel-button my-button" type="button" (click)="navigateBack()">CANCEL</button>
    </div>
    </form>

</section>


